@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script:wght@400;700&family=Fira+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito&display=swap');
/* font-family: 'Bad Script', cursive; */
/* font-family: 'Dancing Script', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(130deg, #5cf5f5, #4dfc78); */
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 60px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  transition: .3s ease;
}

nav ul li::before {
  content: '';
  position: absolute;
  background-color: #000;
  width: 0;
  height: 3px;
  bottom: -3px;
  left: 0;
  transition: .3s ease;
}

nav ul li:hover::before {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content h1 {
  font-size: 130px;
  color: #fff;
  font-family: 'Bad Script', cursive;;
  text-transform: uppercase;
  font-weight: 600;
}

.content a {
  text-decoration: none;
  display: inline;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin: 20px;
  transition: color .3s;
}

.content a:hover {
  font-weight: 600;
  color: #000;
  background-color: rgba(255, 255, 255, .4);
}

.content i {
  position: relative;
  margin-top: 20px;
  font-size: 40px;
  color: #fff;
  animation: animate .8s linear infinite;
}

@keyframes animate {
  0% {
    bottom: -10px;
    opacity: 0;
  }
  25% {
    bottom: -20px;
    opacity: 1;
  }
  100% {
    bottom: -30px;
    opacity: 0;
  }
}

.video {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

/* ===== FOOTER ===== */

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 10px 0;
}

ul li {
  padding-bottom: 18px;
}

li a {
  position: relative;
}

li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #5bc0d8;
  transition: width .3s linear;
}

li:hover a::after {
  width: 100%;
}

h1 {
  color: #fff;
  font-size: 24px;
  font-family: 'Merriweather', serif;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #1f3161;
  width: 100%;
  padding: 40px;
}

footer > div {
  display: flex;
  justify-content: space-around;
}

div .lang {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin-left: -8px;
}

div .lang a {
  border-radius: 4px;
  padding: 8px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.lang a.active,
.lang a:hover {
  background-color: #5bc0d8;
}

.icons {
  font-size: 28px;
  display: flex;
  /* justify-content: space-between; */
  margin-top: 28px;
}

.icons i {
  color: #1f3161;
  height: 45px;
  width: 45px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.icons i:hover {
  color: #5bc0d8;
  background-color: #1f3161;
}

.info {
  display: flex;
  justify-content: center;
}

.info a {
  margin: 12px;
  color: #bbb;
}

.info a:hover {
  color: #fff;
}


@media (max-width: 800px) {
  .nav-bar {
    display: none;
  }

  .nav-bar.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, .5);
  }

  .nav-bar.active .nav-item {
    background: rgb(255, 255, 255, .8);
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(1, 1, 1, .2);
  }

  .nav-bar .nav-item li {
    margin: 20px;
  }
  
  .nav-bar .nav-item li a {
    color: #000;
    font-size: 20px;
  }

  .menu-btn {
    background: url(assets/menu.png) no-repeat;
    background-size: 24px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(assets/close.png) no-repeat;
    background-size: 24px;
    background-position: center;
    transition: .3s ease;
  }

  .content h1 {
    font-size: 60px;
  }

  .content a {
    font-size: 18px;
    padding: 10px 50px;
  }

  .video {
    position: absolute;
    right: -800px;
    bottom: 0;
    z-index: -1;
  }
}